@import url('https://fonts.cdnfonts.com/css/orkney');

.comp {
    font-family: 'Orkney', sans-serif;
    color: white;
    position: absolute;
    left: 0px; 
    width: 100vw;
    height: 0px;
    bottom: 0px;
    background-color: rgb(94, 25, 25);
    
}

#navRedLayer {
    position: absolute;
    left: 0px; 
    width: 100vw;
    height: 11%;
    top: 0px;
    background-color: rgb(94, 25, 25);
    z-index: 2;
}

.flexcontainer {
    position: absolute;
    flex-wrap: wrap;
    top: 50%;
    background-color: rgb(12, 12, 12);
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: center;
}

.flexcontainer > div {
    margin-top: 7%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0;
    height: 400px;
}

.compItem {
    padding: 1% 2% 2% 2%;
    border: 4px solid white;
}

#langages li {
    background-image: linear-gradient(rgb(37, 34, 189), rgb(37, 34, 189));
    background-size: 20% 6px;
    background-repeat: no-repeat;
    background-position: right 80%;
    font-size: 2vh;
    margin-bottom: 2vh;
    margin-top: 0;
    margin-left: -20%;
    font-weight: 300;   
}

#langages li:first-child::before {
    right: 40%;
    content:"";
    margin-left: 0px;
    margin-right: 10%;
    background: url("./res/C.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 12px;
}

#langages li:nth-child(2)::before {
    right: 40%;
    content:"";
    margin-left: 0px;
    margin-right: 10%;
    background: url("./res/POO.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 12px;
}

#langages li:nth-child(3)::before {
    right: 40%;
    content:"";
    margin-left: 0px;
    margin-right: 10%;
    background: url("./res/Script.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 12px;
}

#langages li:nth-child(4)::before {
    right: 40%;
    content:"";
    margin-left: 0px;
    margin-right: 10%;
    background: url("./res/Typescript.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 12px;
}

#langages li:nth-child(5)::before {
    right: 40%;
    content:"";
    margin-left: 0px;
    margin-right: 10%;
    background: url("./res/BDD.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 12px;
}

.comp h1 {
    font-size: 6vh;
    background-image: linear-gradient(rgb(119, 206, 201), rgb(119, 206, 201));
    background-size: 80% 15px;
    background-repeat: no-repeat;
    background-position: right 80%;
}

.coma {
    color:transparent;
}

#software > div {
    padding: 20px;
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    gap: 50px 40px;
    justify-content: space-evenly;
}

#optiApp, #devApp {
    width: 40%;
    height: 800px;
}

#optiApp >h1, #devApp >h1 {
    font-size: 3vh;
}

.tightUL>li {
    font-size: 1.8vh;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 0px;
}

.nestedUL>li {
    color: rgb(119, 206, 201);
    font-size: 1.6vh;
    font-weight: 100;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
}

.nestedUL>li::before {
    content: "// ";
    margin-right: 10px;
    color: rgb(37, 34, 189);
}