nav {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    color: white;
    display: inline-block;
}

.oui ol {
    list-style-type: none;
    padding-left: 0;
  }
  
  .oui {
    display: inline-block;
  }
  
  .oui a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
  }