@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/orkney');

nav {
    font-family: 'Lexend', sans-serif;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    color: white;
    
}

.mainNav ol {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 2vh 0px;
  }
  
.mainNav li {
  padding: 7px 0px;
  display: inline-block;
  margin: 0px 20px;
  background-image: linear-gradient(white, white);
  background-size: 15px 1px;
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom;

  font-size: 15px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all .3s ease-out;
}

.mainNav li:hover
{
    font-weight: 300;
    color: rgb(165, 165, 165);
    background-image: linear-gradient(rgb(165, 165, 165), rgb(165, 165, 165));
    background-size: 40% 1px;
    background-position: center bottom;
}

.mainNav a::after {
  display: inline-block;
  color: white;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

#intro {
  position: absolute;
  top: 40%;
  left: 10%;
  font-weight: 100;
  font-size: 40px;
  color: white;
  padding-left: 30px;
  background-image: linear-gradient(rgb(119, 206, 201), rgb(119, 206, 201));
  background-size: 10% 50%;
  background-repeat: no-repeat, no-repeat;
  background-position: left 70%;
}

#intro * {
  margin-bottom: 0px;
  margin-top: 0px;
}

#intro h1 {
  font-size: 11vh;
  font-weight: normal;
  font-family: 'Lexend', sans-serif;
}

#intro p {
  position: absolute;
  
  font-style: italic;
}

p {
  font-family: 'Lexend', sans-serif;
  font-weight: 200;
  color: white;
}

.pres {
  font-size: 1.7vmax;
  overflow: hidden;
  position: absolute;
  bottom:-100%;
  width: 50vw;
  height: 50vh;
  padding-left: 30px;
}

.pres p {
  height: fit-content;
  font-family: 'Orkney', sans-serif;
  font-weight: 300;
  padding: 30px;
}

#pres2 {
  direction:rtl;
  margin-left: 38%;
}

#pres3 {
  margin-left: 10%;
}


#pres1 {
  margin-left: 15%;
  background-image: linear-gradient(rgb(94, 25, 25), rgb(94, 25, 25)), linear-gradient(rgb(94, 25, 25), rgb(94, 25, 25));
  background-size: 5px 50%, 10% 5px;
  background-repeat: no-repeat, no-repeat;
  background-position: left 85%, left 92%;
}

.pres > p {
  position: absolute;
  bottom: 2%;
  text-align: justify;
  vertical-align: bottom;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.288);
}

.highlight {
  background-image: linear-gradient(rgb(119, 206, 201), rgb(119, 206, 201));
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.highlight2 {
  background-image: linear-gradient(rgb(37, 34, 189), rgb(37, 34, 189));
}

.highlight3 {
  background-image: linear-gradient(rgb(119, 206, 201), rgb(119, 206, 201));
  background-size: 0% 30%;
  background-repeat: no-repeat;
  background-position: bottom left;
}

* {
  overflow: hidden;
}

#pres2 > p {
  width: 80%;
}
