nav {
    position: absolute;
    width: 99%;
    z-index: 3;
    color: white;
    font-size: large;
}

.oui ol {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
  }
  
  .oui {
  }
  
  .oui a::after {
    display: inline-block;
    color: white;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
  }