@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800&display=swap');

nav {
    font-family: 'Lexend', sans-serif;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    color: white;
    
}

.mainNav ol {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 2vh 0px;
  }
  
.mainNav li {
  padding: 7px 0px;
  display: inline-block;
  margin: 0px 20px;
  background-image: linear-gradient(white, white);
  background-size: 15px 1px;
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom;

  font-size: 15px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all .3s ease-out;
}

.mainNav li:hover
{
    font-weight: 300;
    color: rgb(165, 165, 165);
    background-image: linear-gradient(rgb(165, 165, 165), rgb(165, 165, 165));
    background-size: 40% 1px;
    background-position: center bottom;
}

.mainNav a::after {
  display: inline-block;
  color: white;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

#intro {
  position: absolute;
  top: 40%;
  left: 10%;
  font-weight: 100;
  font-size: 40px;
  color: white;
  padding-left: 30px;
  background-image: linear-gradient(rgb(119, 206, 201), rgb(119, 206, 201));
  background-size: 10% 50%;
  background-repeat: no-repeat, no-repeat;
  background-position: left 70%;
}

#intro * {
  margin-bottom: 0px;
  margin-top: 0px;
}

#intro h1 {
  font-weight: normal;
  font-family: 'Lexend', sans-serif;
}

#intro p {
  font-style: italic;
}

p {
  font-family: 'Lexend', sans-serif;
  font-weight: 200;
  font-size: 35px;
  color: white;
}

#pres {
  overflow: hidden;
  position: absolute;
  width: 50%;
  margin-left: 20%;
}

* {
  overflow: hidden;
}