@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;800&display=swap');

.app {
    position: absolute;
    top: 0px;
    left: 0px;
}

.dot {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 5px;
}

body {
    background-color: black;
}

#universe {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#sandBoxBrush {
    position: absolute;
    padding: 4px 10px;
    text-align: center;
    background-color: rgba(30, 30, 44, 0.5);
    border-radius: 10px;
    z-index: 2;
    right: 10px;
    font-family: 'Lexend', sans-serif;
    color: white;
}

#pause {
    position: absolute;
    top : 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-size: 40px;
    font-family: 'Lexend', sans-serif;
}

#selection {
    position: absolute;
    z-index: 1;
    background-color: rgba(155, 255, 255, 0.2);
    border: 1px solid rgba(155, 255, 255, 0.5);
    box-sizing: border-box;
}

#selected {
    background-color: rgba(150, 255, 255, 0.5);
    border: 2px solid;
    border-color: rgb(50, 200, 200);
}

#velocityInit {
    position: absolute;
    transform-origin: top left;
    background-color: rgba(150, 255, 255, 0.5);
    z-index: 2;
}

#shortcutsHelp {
    font-size: 0.9em;
}

#shortcutsHelp b {
    color: rgba(150, 255, 255, 0.5);
    font-family: 'Lexend', bold;
    font-weight: 800;
}

#following {
    position: absolute;
    top : 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
}